/* Estilos para los botones normales */
.button {
  background-color: #35682d;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Estilos para el botón especial 'Back' */
.back {
  background-color: #3b5998;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Estilos para el botón hover */
.button:hover {
  opacity: 0.8;
}

